# NuGet Packages
nupkgs/
packages/
.vs/
src/SmartReader/SmartReader.xml
src/SmartReaderDemo/obj/

# JetBrains Rider files
.idea

# User files
*.DotSettings.user
/src/SmartReader.NaturalLanguageProcessing/obj
