.head-block {
	margin: 2em 0 0 0;
}

.feature-section {
	/*padding: 30px 0;*/
	margin-bottom: 30px;
	/*border-top: 2px solid #6E8B60;
    -webkit-border-image-source: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, #385361), color-stop(100%, rgba(0, 0, 0, 0)));
    -webkit-border-image-source: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -moz-border-image-source: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -ms-border-image-source: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -o-border-image-source: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-slice: 1;*/
	background-color: #ffffff;
}

.feature-section-alternate {
	margin-bottom: 30px;
	background-color: #f7f7f9;
}

.closer-top {
	margin-top: -60px;
}

.last-block {
	background-color: #ffffff;
	padding-bottom: 115px;
}

.btn-primary {
	background-color: #2a363c;
}